
DerivedData/CommonUtils/Build/Intermediates.noindex/XCBuildData/cc69f401ae157d19e724de0a9d158d11-manifest.xcbuild
*.xcbuild
DerivedData/CommonUtils/Build/Intermediates.noindex/XCBuildData/BuildDescriptionCacheIndex-d141624ff0be6c1fc03b18e89c16e187
